.bottom_bar {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background-color: var(--bottom-bar-background);
    color: var(--font-primary);
    border-top: 1px solid var(--bottom-bar-border);
}