.header {
    background-color: var(--bottom-bar-background);
    height: 70px;
    border-bottom: 1px solid var(--bottom-bar-border);
    font-size: 1.7em;
    justify-content: center;
    align-items: center;
}